<div class="container">
    <h2>Supplier Home</h2>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="items" routerLinkActive="active">
            <i class="fas fa-users"></i> Items View
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-item" routerLinkActive="active">
            <i class="fas fa-user-plus"></i> Add Item
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customers-view" routerLinkActive="active">
            <i class="fas fa-money-check-alt"></i> Customers View
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-customer" routerLinkActive="active">
            <i class="fas fa-box"></i> Add Customer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-receipt" routerLinkActive="active"    [ngClass]="{'disabled': true}"           >
            <i class="fas fa-receipt"></i> Add Receipt
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orders" routerLinkActive="active">
            <i class="fas fa-clipboard-list"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cheques" routerLinkActive="active">
            <i class="fas fa-tags"></i> Cheques
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="suppliers-view" routerLinkActive="active">
            <i class="fas fa-handshake"></i> Endorsement Cheque
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account-statement" routerLinkActive="active">
            <i class="fas fa-file-alt"></i> Account Statement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="logout" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
  