<div class="container">
    <h2>Customer Home</h2>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="items" routerLinkActive="active">
            <i class="fas fa-users"></i> item View
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orders" routerLinkActive="active">
            <i class="fas fa-box"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="receipt" routerLinkActive="active">
            <i class="fas fa-tags"></i> Receipt
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account-statement" routerLinkActive="active">
            <i class="fas fa-file-alt"></i> Account Statement
          </a>
        </li>
      </ul>
    </nav>
  <router-outlet></router-outlet>
</div>
  