.list-group-item {
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h5 {
    margin-bottom: 10px;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
  }
  
  ul {
    padding-left: 20px;
  }