<div class="container">
    <h2>Admin Home</h2>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="suppliers-view" routerLinkActive="active">
            <i class="fas fa-users"></i> Suppliers View
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cheques" routerLinkActive="active">
            <i class="fas fa-money-check-alt"></i> Cheques
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search-cheques" routerLinkActive="active">
            <i class="fas fa-search"></i> Search Cheques
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="items-orders" routerLinkActive="active">
            <i class="fas fa-boxes"></i> Items and Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-supplier" routerLinkActive="active">
            <i class="fas fa-user-plus"></i> Add Supplier
          </a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
  