<div class="container">
    <h2>Customer View</h2>
    <br>
    <form (ngSubmit)="applyFilters()">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [ngModel]="filters.name" (ngModelChange)="updateFilter('name', $event)" name="name">
          </div>
          <div class="col-md-4 mb-3">
            <label for="userName">UserName</label>
            <input type="text" id="userName" class="form-control" [ngModel]="filters.userName" (ngModelChange)="updateFilter('userName', $event)" name="userName">
          </div>
          <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" [ngModel]="filters.email" (ngModelChange)="updateFilter('email', $event)" name="email">
          </div>
          <div class="col-md-4 mb-3">
            <label for="phone">Phone</label>
            <input type="text" id="phone" class="form-control" [ngModel]="filters.phone" (ngModelChange)="updateFilter('phone', $event)" name="phone">
          </div>
          <div class="col-md-4 mb-3">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" [ngModel]="filters.address" (ngModelChange)="updateFilter('address', $event)" name="address">
          </div>
          <div class="col-md-4 mb-3">
            <label for="identity">Identity</label>
            <input type="text" id="identity" class="form-control" [ngModel]="filters.identity" (ngModelChange)="updateFilter('identity', $event)" name="identity">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </div>
        </div>
    </form>
  
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>UserName</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Name</th>
          <th>Address</th>
          <th>Identity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers$ | async">
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.userName }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.identity }}</td>
          <td>
            <button class="btn btn-info btn-sm me-2" (click)="editCustomer(customer.customerId)">
              <i class="fas fa-pencil"></i> Update
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCustomer(customer.customerId)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <button class="page-link" (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber === 1">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of (totalPages | async)?? 0 | numberRange: 1">
          <button class="page-link" (click)="onPageChange(page)" [class.active]="pageNumber === page">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="pageNumber === (totalPages | async)">
          <button class="page-link" (click)="onPageChange(pageNumber + 1)" [disabled]="pageNumber === (totalPages | async)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  