<div class="container">
    <h2>Customer View</h2>
    <br>
    <form (ngSubmit)="applyFilters()">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [ngModel]="filters.name" (ngModelChange)="updateFilter('name', $event)" name="name">
          </div>
          <div class="col-md-4 mb-3">
            <label for="userName">UserName</label>
            <input type="text" id="userName" class="form-control" [ngModel]="filters.userName" (ngModelChange)="updateFilter('userName', $event)" name="userName">
          </div>
          <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" [ngModel]="filters.email" (ngModelChange)="updateFilter('email', $event)" name="email">
          </div>
          <div class="col-md-4 mb-3">
            <label for="phone">Phone</label>
            <input type="text" id="phone" class="form-control" [ngModel]="filters.phone" (ngModelChange)="updateFilter('phone', $event)" name="phone">
          </div>
          <div class="col-md-4 mb-3">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" [ngModel]="filters.address" (ngModelChange)="updateFilter('address', $event)" name="address">
          </div>
          <div class="col-md-4 mb-3">
            <label for="identity">Identity</label>
            <input type="text" id="identity" class="form-control" [ngModel]="filters.identity" (ngModelChange)="updateFilter('identity', $event)" name="identity">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </div>
        </div>
    </form>
  
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>UserName</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Identity</th>
          <th>Balance</th>
          <th>Actions</th>
          <th>Add Receipt</th>
          <th>Account Statement</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers$ | async">
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.userName }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.identity }}</td>
          <td>{{ customer.balance }}</td>
          <td>
            <button class="btn btn-info btn-sm mb-2" style="display: block;" (click)="editCustomer(customer.customerId)">
              <i class="fas fa-pencil"></i> Update
            </button>
            <button class="btn btn-danger btn-sm" style="display: block;" (click)="deleteCustomer(customer.customerId)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
          <td>
            <button class="btn btn-success btn-sm" (click)="addReceipt(customer.customerId)">
              <i class="fas fa-receipt"></i> Add Receipt
            </button>
          </td>
          <td>
            <button class="btn btn-success btn-sm" (click)="accountStatement(customer.customerId)">
              <i class="fas fa-receipt"></i> Account Statement
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <button class="page-link" (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber === 1">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of (totalPages | async)?? 0 | numberRange: 1">
          <button class="page-link" (click)="onPageChange(page)" [class.active]="pageNumber === page">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="pageNumber === (totalPages | async)">
          <button class="page-link" (click)="onPageChange(pageNumber + 1)" [disabled]="pageNumber === (totalPages | async)">Next</button>
        </li>
        <li class="page-item">
          <select class="form-control" (change)="onPageSizeChange($event)" style="display:inline-block; width:auto; margin-left: 10px;">
            <option *ngFor="let size of [5, 10, 20, 50]" [value]="size" [selected]="size === pageSize">{{ size }} per page</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': showModal }">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Account Statement</h5>
        </div>
        <div class="modal-body">
          <div *ngIf="transactions$ | async as transactions">
            <div *ngFor="let transaction of transactions">
              <p><strong>Transaction ID:</strong> {{ transaction.transactionId }}</p>
              <p><strong>Invoice Number:</strong> {{ transaction.invoiceNumber }}</p>
              <p><strong>Transaction Date:</strong> {{ transaction.transactionDate | date }}</p>
              <p><strong>Amount:</strong> {{ transaction.amount }}</p>
              <p><strong>Currency:</strong> {{ transaction.currency }}</p>
              <p><strong>Cheque Receiver Name:</strong> {{ transaction.receiverName }}</p>
              <p><strong>Cheque Issuer Name:</strong> {{ transaction.issuerName }}</p>
              <p><strong>Payment Method:</strong> {{ transaction.paymentMethod }}</p>
              <p>  <strong>Remaining Debt:</strong>
                <span [ngClass]="getDebtColor(transaction.remainingDebt)">
                  {{ transaction.remainingDebt }}
                </span></p>
              <hr>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="generatePDF()">Generate PDF</button>
        </div>
      </div>
    </div>
  </div>
  